.gifp1 {
  background-image: url(/image/preview_1.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 65%;
  margin-top: 122px;
  margin-bottom: -400px;
}
