@keyframes p3
{
  0.0000% {background-image: url(/image/final0722/final03/export030001.jpg)}
1.5873% {background-image: url(/image/final0722/final03/export030002.jpg)}
3.1746% {background-image: url(/image/final0722/final03/export030003.jpg)}
4.7619% {background-image: url(/image/final0722/final03/export030004.jpg)}
6.3492% {background-image: url(/image/final0722/final03/export030005.jpg)}
7.9365% {background-image: url(/image/final0722/final03/export030006.jpg)}
9.5238% {background-image: url(/image/final0722/final03/export030007.jpg)}
11.1111% {background-image: url(/image/final0722/final03/export030008.jpg)}
12.6984% {background-image: url(/image/final0722/final03/export030009.jpg)}
14.2857% {background-image: url(/image/final0722/final03/export030010.jpg)}
15.8730% {background-image: url(/image/final0722/final03/export030011.jpg)}
17.4603% {background-image: url(/image/final0722/final03/export030012.jpg)}
19.0476% {background-image: url(/image/final0722/final03/export030013.jpg)}
20.6349% {background-image: url(/image/final0722/final03/export030014.jpg)}
22.2222% {background-image: url(/image/final0722/final03/export030015.jpg)}
23.8095% {background-image: url(/image/final0722/final03/export030016.jpg)}
25.3968% {background-image: url(/image/final0722/final03/export030017.jpg)}
26.9841% {background-image: url(/image/final0722/final03/export030018.jpg)}
28.5714% {background-image: url(/image/final0722/final03/export030019.jpg)}
30.1587% {background-image: url(/image/final0722/final03/export030020.jpg)}
31.7460% {background-image: url(/image/final0722/final03/export030021.jpg)}
33.3333% {background-image: url(/image/final0722/final03/export030022.jpg)}
34.9206% {background-image: url(/image/final0722/final03/export030023.jpg)}
36.5079% {background-image: url(/image/final0722/final03/export030024.jpg)}
38.0952% {background-image: url(/image/final0722/final03/export030025.jpg)}
39.6825% {background-image: url(/image/final0722/final03/export030026.jpg)}
41.2698% {background-image: url(/image/final0722/final03/export030027.jpg)}
42.8571% {background-image: url(/image/final0722/final03/export030028.jpg)}
44.4444% {background-image: url(/image/final0722/final03/export030029.jpg)}
46.0317% {background-image: url(/image/final0722/final03/export030030.jpg)}
47.6190% {background-image: url(/image/final0722/final03/export030031.jpg)}
49.2063% {background-image: url(/image/final0722/final03/export030032.jpg)}
50.7937% {background-image: url(/image/final0722/final03/export030033.jpg)}
52.3810% {background-image: url(/image/final0722/final03/export030034.jpg)}
53.9683% {background-image: url(/image/final0722/final03/export030035.jpg)}
55.5556% {background-image: url(/image/final0722/final03/export030036.jpg)}
57.1429% {background-image: url(/image/final0722/final03/export030037.jpg)}
58.7302% {background-image: url(/image/final0722/final03/export030038.jpg)}
60.3175% {background-image: url(/image/final0722/final03/export030039.jpg)}
61.9048% {background-image: url(/image/final0722/final03/export030040.jpg)}
63.4921% {background-image: url(/image/final0722/final03/export030041.jpg)}
65.0794% {background-image: url(/image/final0722/final03/export030042.jpg)}
66.6667% {background-image: url(/image/final0722/final03/export030043.jpg)}
68.2540% {background-image: url(/image/final0722/final03/export030044.jpg)}
69.8413% {background-image: url(/image/final0722/final03/export030045.jpg)}
71.4286% {background-image: url(/image/final0722/final03/export030046.jpg)}
73.0159% {background-image: url(/image/final0722/final03/export030047.jpg)}
74.6032% {background-image: url(/image/final0722/final03/export030048.jpg)}
76.1905% {background-image: url(/image/final0722/final03/export030049.jpg)}
77.7778% {background-image: url(/image/final0722/final03/export030050.jpg)}
79.3651% {background-image: url(/image/final0722/final03/export030051.jpg)}
80.9524% {background-image: url(/image/final0722/final03/export030052.jpg)}
82.5397% {background-image: url(/image/final0722/final03/export030053.jpg)}
84.1270% {background-image: url(/image/final0722/final03/export030054.jpg)}
85.7143% {background-image: url(/image/final0722/final03/export030055.jpg)}
87.3016% {background-image: url(/image/final0722/final03/export030056.jpg)}
88.8889% {background-image: url(/image/final0722/final03/export030057.jpg)}
90.4762% {background-image: url(/image/final0722/final03/export030058.jpg)}
92.0635% {background-image: url(/image/final0722/final03/export030059.jpg)}
93.6508% {background-image: url(/image/final0722/final03/export030060.jpg)}
95.2381% {background-image: url(/image/final0722/final03/export030061.jpg)}
96.8254% {background-image: url(/image/final0722/final03/export030062.jpg)}
98.4127% {background-image: url(/image/final0722/final03/export030063.jpg)}
100.0000% {background-image: url(/image/final0722/final03/export030064.jpg)}
}

@-moz-keyframes p3
{
  0.0000% {background-image: url(/image/final0722/final03/export030001.jpg)}
  1.5873% {background-image: url(/image/final0722/final03/export030002.jpg)}
  3.1746% {background-image: url(/image/final0722/final03/export030003.jpg)}
  4.7619% {background-image: url(/image/final0722/final03/export030004.jpg)}
  6.3492% {background-image: url(/image/final0722/final03/export030005.jpg)}
  7.9365% {background-image: url(/image/final0722/final03/export030006.jpg)}
  9.5238% {background-image: url(/image/final0722/final03/export030007.jpg)}
  11.1111% {background-image: url(/image/final0722/final03/export030008.jpg)}
  12.6984% {background-image: url(/image/final0722/final03/export030009.jpg)}
  14.2857% {background-image: url(/image/final0722/final03/export030010.jpg)}
  15.8730% {background-image: url(/image/final0722/final03/export030011.jpg)}
  17.4603% {background-image: url(/image/final0722/final03/export030012.jpg)}
  19.0476% {background-image: url(/image/final0722/final03/export030013.jpg)}
  20.6349% {background-image: url(/image/final0722/final03/export030014.jpg)}
  22.2222% {background-image: url(/image/final0722/final03/export030015.jpg)}
  23.8095% {background-image: url(/image/final0722/final03/export030016.jpg)}
  25.3968% {background-image: url(/image/final0722/final03/export030017.jpg)}
  26.9841% {background-image: url(/image/final0722/final03/export030018.jpg)}
  28.5714% {background-image: url(/image/final0722/final03/export030019.jpg)}
  30.1587% {background-image: url(/image/final0722/final03/export030020.jpg)}
  31.7460% {background-image: url(/image/final0722/final03/export030021.jpg)}
  33.3333% {background-image: url(/image/final0722/final03/export030022.jpg)}
  34.9206% {background-image: url(/image/final0722/final03/export030023.jpg)}
  36.5079% {background-image: url(/image/final0722/final03/export030024.jpg)}
  38.0952% {background-image: url(/image/final0722/final03/export030025.jpg)}
  39.6825% {background-image: url(/image/final0722/final03/export030026.jpg)}
  41.2698% {background-image: url(/image/final0722/final03/export030027.jpg)}
  42.8571% {background-image: url(/image/final0722/final03/export030028.jpg)}
  44.4444% {background-image: url(/image/final0722/final03/export030029.jpg)}
  46.0317% {background-image: url(/image/final0722/final03/export030030.jpg)}
  47.6190% {background-image: url(/image/final0722/final03/export030031.jpg)}
  49.2063% {background-image: url(/image/final0722/final03/export030032.jpg)}
  50.7937% {background-image: url(/image/final0722/final03/export030033.jpg)}
  52.3810% {background-image: url(/image/final0722/final03/export030034.jpg)}
  53.9683% {background-image: url(/image/final0722/final03/export030035.jpg)}
  55.5556% {background-image: url(/image/final0722/final03/export030036.jpg)}
  57.1429% {background-image: url(/image/final0722/final03/export030037.jpg)}
  58.7302% {background-image: url(/image/final0722/final03/export030038.jpg)}
  60.3175% {background-image: url(/image/final0722/final03/export030039.jpg)}
  61.9048% {background-image: url(/image/final0722/final03/export030040.jpg)}
  63.4921% {background-image: url(/image/final0722/final03/export030041.jpg)}
  65.0794% {background-image: url(/image/final0722/final03/export030042.jpg)}
  66.6667% {background-image: url(/image/final0722/final03/export030043.jpg)}
  68.2540% {background-image: url(/image/final0722/final03/export030044.jpg)}
  69.8413% {background-image: url(/image/final0722/final03/export030045.jpg)}
  71.4286% {background-image: url(/image/final0722/final03/export030046.jpg)}
  73.0159% {background-image: url(/image/final0722/final03/export030047.jpg)}
  74.6032% {background-image: url(/image/final0722/final03/export030048.jpg)}
  76.1905% {background-image: url(/image/final0722/final03/export030049.jpg)}
  77.7778% {background-image: url(/image/final0722/final03/export030050.jpg)}
  79.3651% {background-image: url(/image/final0722/final03/export030051.jpg)}
  80.9524% {background-image: url(/image/final0722/final03/export030052.jpg)}
  82.5397% {background-image: url(/image/final0722/final03/export030053.jpg)}
  84.1270% {background-image: url(/image/final0722/final03/export030054.jpg)}
  85.7143% {background-image: url(/image/final0722/final03/export030055.jpg)}
  87.3016% {background-image: url(/image/final0722/final03/export030056.jpg)}
  88.8889% {background-image: url(/image/final0722/final03/export030057.jpg)}
  90.4762% {background-image: url(/image/final0722/final03/export030058.jpg)}
  92.0635% {background-image: url(/image/final0722/final03/export030059.jpg)}
  93.6508% {background-image: url(/image/final0722/final03/export030060.jpg)}
  95.2381% {background-image: url(/image/final0722/final03/export030061.jpg)}
  96.8254% {background-image: url(/image/final0722/final03/export030062.jpg)}
  98.4127% {background-image: url(/image/final0722/final03/export030063.jpg)}
  100.0000% {background-image: url(/image/final0722/final03/export030064.jpg)}
}

@-webkit-keyframes p3
{
  0.0000% {background-image: url(/image/final0722/final03/export030001.jpg)}
  1.5873% {background-image: url(/image/final0722/final03/export030002.jpg)}
  3.1746% {background-image: url(/image/final0722/final03/export030003.jpg)}
  4.7619% {background-image: url(/image/final0722/final03/export030004.jpg)}
  6.3492% {background-image: url(/image/final0722/final03/export030005.jpg)}
  7.9365% {background-image: url(/image/final0722/final03/export030006.jpg)}
  9.5238% {background-image: url(/image/final0722/final03/export030007.jpg)}
  11.1111% {background-image: url(/image/final0722/final03/export030008.jpg)}
  12.6984% {background-image: url(/image/final0722/final03/export030009.jpg)}
  14.2857% {background-image: url(/image/final0722/final03/export030010.jpg)}
  15.8730% {background-image: url(/image/final0722/final03/export030011.jpg)}
  17.4603% {background-image: url(/image/final0722/final03/export030012.jpg)}
  19.0476% {background-image: url(/image/final0722/final03/export030013.jpg)}
  20.6349% {background-image: url(/image/final0722/final03/export030014.jpg)}
  22.2222% {background-image: url(/image/final0722/final03/export030015.jpg)}
  23.8095% {background-image: url(/image/final0722/final03/export030016.jpg)}
  25.3968% {background-image: url(/image/final0722/final03/export030017.jpg)}
  26.9841% {background-image: url(/image/final0722/final03/export030018.jpg)}
  28.5714% {background-image: url(/image/final0722/final03/export030019.jpg)}
  30.1587% {background-image: url(/image/final0722/final03/export030020.jpg)}
  31.7460% {background-image: url(/image/final0722/final03/export030021.jpg)}
  33.3333% {background-image: url(/image/final0722/final03/export030022.jpg)}
  34.9206% {background-image: url(/image/final0722/final03/export030023.jpg)}
  36.5079% {background-image: url(/image/final0722/final03/export030024.jpg)}
  38.0952% {background-image: url(/image/final0722/final03/export030025.jpg)}
  39.6825% {background-image: url(/image/final0722/final03/export030026.jpg)}
  41.2698% {background-image: url(/image/final0722/final03/export030027.jpg)}
  42.8571% {background-image: url(/image/final0722/final03/export030028.jpg)}
  44.4444% {background-image: url(/image/final0722/final03/export030029.jpg)}
  46.0317% {background-image: url(/image/final0722/final03/export030030.jpg)}
  47.6190% {background-image: url(/image/final0722/final03/export030031.jpg)}
  49.2063% {background-image: url(/image/final0722/final03/export030032.jpg)}
  50.7937% {background-image: url(/image/final0722/final03/export030033.jpg)}
  52.3810% {background-image: url(/image/final0722/final03/export030034.jpg)}
  53.9683% {background-image: url(/image/final0722/final03/export030035.jpg)}
  55.5556% {background-image: url(/image/final0722/final03/export030036.jpg)}
  57.1429% {background-image: url(/image/final0722/final03/export030037.jpg)}
  58.7302% {background-image: url(/image/final0722/final03/export030038.jpg)}
  60.3175% {background-image: url(/image/final0722/final03/export030039.jpg)}
  61.9048% {background-image: url(/image/final0722/final03/export030040.jpg)}
  63.4921% {background-image: url(/image/final0722/final03/export030041.jpg)}
  65.0794% {background-image: url(/image/final0722/final03/export030042.jpg)}
  66.6667% {background-image: url(/image/final0722/final03/export030043.jpg)}
  68.2540% {background-image: url(/image/final0722/final03/export030044.jpg)}
  69.8413% {background-image: url(/image/final0722/final03/export030045.jpg)}
  71.4286% {background-image: url(/image/final0722/final03/export030046.jpg)}
  73.0159% {background-image: url(/image/final0722/final03/export030047.jpg)}
  74.6032% {background-image: url(/image/final0722/final03/export030048.jpg)}
  76.1905% {background-image: url(/image/final0722/final03/export030049.jpg)}
  77.7778% {background-image: url(/image/final0722/final03/export030050.jpg)}
  79.3651% {background-image: url(/image/final0722/final03/export030051.jpg)}
  80.9524% {background-image: url(/image/final0722/final03/export030052.jpg)}
  82.5397% {background-image: url(/image/final0722/final03/export030053.jpg)}
  84.1270% {background-image: url(/image/final0722/final03/export030054.jpg)}
  85.7143% {background-image: url(/image/final0722/final03/export030055.jpg)}
  87.3016% {background-image: url(/image/final0722/final03/export030056.jpg)}
  88.8889% {background-image: url(/image/final0722/final03/export030057.jpg)}
  90.4762% {background-image: url(/image/final0722/final03/export030058.jpg)}
  92.0635% {background-image: url(/image/final0722/final03/export030059.jpg)}
  93.6508% {background-image: url(/image/final0722/final03/export030060.jpg)}
  95.2381% {background-image: url(/image/final0722/final03/export030061.jpg)}
  96.8254% {background-image: url(/image/final0722/final03/export030062.jpg)}
  98.4127% {background-image: url(/image/final0722/final03/export030063.jpg)}
  100.0000% {background-image: url(/image/final0722/final03/export030064.jpg)}
}

.gifp3 {
  animation: p3 2s step-end infinite;
  -moz-animation: p3 2s step-end infinite;
  -webkit-animation: p3 2s step-end infinite;
  -o-animation: p3 2s step-end infinite;
  background-size: 100% 100%;
  height: 700px;
  width: 800px;
  margin-top: 96px;
  margin-left: 50px;
}
