.gifp4 {
  background-image: url(/image/preview_4.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 60%;
  margin-top: 60px;
  margin-left: 40%;
  margin-bottom: -472px;
}
