@keyframes p4
{
  0.0000% {background-image: url(/image/final04/final0001.png)}
  1.5873% {background-image: url(/image/final04/final0002.png)}
  3.1746% {background-image: url(/image/final04/final0003.png)}
  4.7619% {background-image: url(/image/final04/final0004.png)}
  6.3492% {background-image: url(/image/final04/final0005.png)}
  7.9365% {background-image: url(/image/final04/final0006.png)}
  9.5238% {background-image: url(/image/final04/final0007.png)}
  11.1111% {background-image: url(/image/final04/final0008.png)}
  12.6984% {background-image: url(/image/final04/final0009.png)}
  14.2857% {background-image: url(/image/final04/final0010.png)}
  15.8730% {background-image: url(/image/final04/final0011.png)}
  17.4603% {background-image: url(/image/final04/final0012.png)}
  19.0476% {background-image: url(/image/final04/final0013.png)}
  20.6349% {background-image: url(/image/final04/final0014.png)}
  22.2222% {background-image: url(/image/final04/final0015.png)}
  23.8095% {background-image: url(/image/final04/final0016.png)}
  25.3968% {background-image: url(/image/final04/final0017.png)}
  26.9841% {background-image: url(/image/final04/final0018.png)}
  28.5714% {background-image: url(/image/final04/final0019.png)}
  30.1587% {background-image: url(/image/final04/final0020.png)}
  31.7460% {background-image: url(/image/final04/final0021.png)}
  33.3333% {background-image: url(/image/final04/final0022.png)}
  34.9206% {background-image: url(/image/final04/final0023.png)}
  36.5079% {background-image: url(/image/final04/final0024.png)}
  38.0952% {background-image: url(/image/final04/final0025.png)}
  39.6825% {background-image: url(/image/final04/final0026.png)}
  41.2698% {background-image: url(/image/final04/final0027.png)}
  42.8571% {background-image: url(/image/final04/final0028.png)}
  44.4444% {background-image: url(/image/final04/final0029.png)}
  46.0317% {background-image: url(/image/final04/final0030.png)}
  47.6190% {background-image: url(/image/final04/final0031.png)}
  49.2063% {background-image: url(/image/final04/final0032.png)}
  50.7937% {background-image: url(/image/final04/final0033.png)}
  52.3810% {background-image: url(/image/final04/final0034.png)}
  53.9683% {background-image: url(/image/final04/final0035.png)}
  55.5556% {background-image: url(/image/final04/final0036.png)}
  57.1429% {background-image: url(/image/final04/final0037.png)}
  58.7302% {background-image: url(/image/final04/final0038.png)}
  60.3175% {background-image: url(/image/final04/final0039.png)}
  61.9048% {background-image: url(/image/final04/final0040.png)}
  63.4921% {background-image: url(/image/final04/final0041.png)}
  65.0794% {background-image: url(/image/final04/final0042.png)}
  66.6667% {background-image: url(/image/final04/final0043.png)}
  68.2540% {background-image: url(/image/final04/final0044.png)}
  69.8413% {background-image: url(/image/final04/final0045.png)}
  71.4286% {background-image: url(/image/final04/final0046.png)}
  73.0159% {background-image: url(/image/final04/final0047.png)}
  74.6032% {background-image: url(/image/final04/final0048.png)}
  76.1905% {background-image: url(/image/final04/final0049.png)}
  77.7778% {background-image: url(/image/final04/final0050.png)}
  79.3651% {background-image: url(/image/final04/final0051.png)}
  80.9524% {background-image: url(/image/final04/final0052.png)}
  82.5397% {background-image: url(/image/final04/final0053.png)}
  84.1270% {background-image: url(/image/final04/final0054.png)}
  85.7143% {background-image: url(/image/final04/final0055.png)}
  87.3016% {background-image: url(/image/final04/final0056.png)}
  88.8889% {background-image: url(/image/final04/final0057.png)}
  90.4762% {background-image: url(/image/final04/final0058.png)}
  92.0635% {background-image: url(/image/final04/final0059.png)}
  93.6508% {background-image: url(/image/final04/final0060.png)}
  95.2381% {background-image: url(/image/final04/final0061.png)}
  96.8254% {background-image: url(/image/final04/final0062.png)}
  98.4127% {background-image: url(/image/final04/final0063.png)}
  100.0000% {background-image: url(/image/final04/final0064.png)}

}

@-moz-keyframes p4
{
  0.0000% {background-image: url(/image/final04/final0001.png)}
  1.5873% {background-image: url(/image/final04/final0002.png)}
  3.1746% {background-image: url(/image/final04/final0003.png)}
  4.7619% {background-image: url(/image/final04/final0004.png)}
  6.3492% {background-image: url(/image/final04/final0005.png)}
  7.9365% {background-image: url(/image/final04/final0006.png)}
  9.5238% {background-image: url(/image/final04/final0007.png)}
  11.1111% {background-image: url(/image/final04/final0008.png)}
  12.6984% {background-image: url(/image/final04/final0009.png)}
  14.2857% {background-image: url(/image/final04/final0010.png)}
  15.8730% {background-image: url(/image/final04/final0011.png)}
  17.4603% {background-image: url(/image/final04/final0012.png)}
  19.0476% {background-image: url(/image/final04/final0013.png)}
  20.6349% {background-image: url(/image/final04/final0014.png)}
  22.2222% {background-image: url(/image/final04/final0015.png)}
  23.8095% {background-image: url(/image/final04/final0016.png)}
  25.3968% {background-image: url(/image/final04/final0017.png)}
  26.9841% {background-image: url(/image/final04/final0018.png)}
  28.5714% {background-image: url(/image/final04/final0019.png)}
  30.1587% {background-image: url(/image/final04/final0020.png)}
  31.7460% {background-image: url(/image/final04/final0021.png)}
  33.3333% {background-image: url(/image/final04/final0022.png)}
  34.9206% {background-image: url(/image/final04/final0023.png)}
  36.5079% {background-image: url(/image/final04/final0024.png)}
  38.0952% {background-image: url(/image/final04/final0025.png)}
  39.6825% {background-image: url(/image/final04/final0026.png)}
  41.2698% {background-image: url(/image/final04/final0027.png)}
  42.8571% {background-image: url(/image/final04/final0028.png)}
  44.4444% {background-image: url(/image/final04/final0029.png)}
  46.0317% {background-image: url(/image/final04/final0030.png)}
  47.6190% {background-image: url(/image/final04/final0031.png)}
  49.2063% {background-image: url(/image/final04/final0032.png)}
  50.7937% {background-image: url(/image/final04/final0033.png)}
  52.3810% {background-image: url(/image/final04/final0034.png)}
  53.9683% {background-image: url(/image/final04/final0035.png)}
  55.5556% {background-image: url(/image/final04/final0036.png)}
  57.1429% {background-image: url(/image/final04/final0037.png)}
  58.7302% {background-image: url(/image/final04/final0038.png)}
  60.3175% {background-image: url(/image/final04/final0039.png)}
  61.9048% {background-image: url(/image/final04/final0040.png)}
  63.4921% {background-image: url(/image/final04/final0041.png)}
  65.0794% {background-image: url(/image/final04/final0042.png)}
  66.6667% {background-image: url(/image/final04/final0043.png)}
  68.2540% {background-image: url(/image/final04/final0044.png)}
  69.8413% {background-image: url(/image/final04/final0045.png)}
  71.4286% {background-image: url(/image/final04/final0046.png)}
  73.0159% {background-image: url(/image/final04/final0047.png)}
  74.6032% {background-image: url(/image/final04/final0048.png)}
  76.1905% {background-image: url(/image/final04/final0049.png)}
  77.7778% {background-image: url(/image/final04/final0050.png)}
  79.3651% {background-image: url(/image/final04/final0051.png)}
  80.9524% {background-image: url(/image/final04/final0052.png)}
  82.5397% {background-image: url(/image/final04/final0053.png)}
  84.1270% {background-image: url(/image/final04/final0054.png)}
  85.7143% {background-image: url(/image/final04/final0055.png)}
  87.3016% {background-image: url(/image/final04/final0056.png)}
  88.8889% {background-image: url(/image/final04/final0057.png)}
  90.4762% {background-image: url(/image/final04/final0058.png)}
  92.0635% {background-image: url(/image/final04/final0059.png)}
  93.6508% {background-image: url(/image/final04/final0060.png)}
  95.2381% {background-image: url(/image/final04/final0061.png)}
  96.8254% {background-image: url(/image/final04/final0062.png)}
  98.4127% {background-image: url(/image/final04/final0063.png)}
  100.0000% {background-image: url(/image/final04/final0064.png)}

}

@-webkit-keyframes p4
{
  0.0000% {background-image: url(/image/final04/final0001.png)}
  1.5873% {background-image: url(/image/final04/final0002.png)}
  3.1746% {background-image: url(/image/final04/final0003.png)}
  4.7619% {background-image: url(/image/final04/final0004.png)}
  6.3492% {background-image: url(/image/final04/final0005.png)}
  7.9365% {background-image: url(/image/final04/final0006.png)}
  9.5238% {background-image: url(/image/final04/final0007.png)}
  11.1111% {background-image: url(/image/final04/final0008.png)}
  12.6984% {background-image: url(/image/final04/final0009.png)}
  14.2857% {background-image: url(/image/final04/final0010.png)}
  15.8730% {background-image: url(/image/final04/final0011.png)}
  17.4603% {background-image: url(/image/final04/final0012.png)}
  19.0476% {background-image: url(/image/final04/final0013.png)}
  20.6349% {background-image: url(/image/final04/final0014.png)}
  22.2222% {background-image: url(/image/final04/final0015.png)}
  23.8095% {background-image: url(/image/final04/final0016.png)}
  25.3968% {background-image: url(/image/final04/final0017.png)}
  26.9841% {background-image: url(/image/final04/final0018.png)}
  28.5714% {background-image: url(/image/final04/final0019.png)}
  30.1587% {background-image: url(/image/final04/final0020.png)}
  31.7460% {background-image: url(/image/final04/final0021.png)}
  33.3333% {background-image: url(/image/final04/final0022.png)}
  34.9206% {background-image: url(/image/final04/final0023.png)}
  36.5079% {background-image: url(/image/final04/final0024.png)}
  38.0952% {background-image: url(/image/final04/final0025.png)}
  39.6825% {background-image: url(/image/final04/final0026.png)}
  41.2698% {background-image: url(/image/final04/final0027.png)}
  42.8571% {background-image: url(/image/final04/final0028.png)}
  44.4444% {background-image: url(/image/final04/final0029.png)}
  46.0317% {background-image: url(/image/final04/final0030.png)}
  47.6190% {background-image: url(/image/final04/final0031.png)}
  49.2063% {background-image: url(/image/final04/final0032.png)}
  50.7937% {background-image: url(/image/final04/final0033.png)}
  52.3810% {background-image: url(/image/final04/final0034.png)}
  53.9683% {background-image: url(/image/final04/final0035.png)}
  55.5556% {background-image: url(/image/final04/final0036.png)}
  57.1429% {background-image: url(/image/final04/final0037.png)}
  58.7302% {background-image: url(/image/final04/final0038.png)}
  60.3175% {background-image: url(/image/final04/final0039.png)}
  61.9048% {background-image: url(/image/final04/final0040.png)}
  63.4921% {background-image: url(/image/final04/final0041.png)}
  65.0794% {background-image: url(/image/final04/final0042.png)}
  66.6667% {background-image: url(/image/final04/final0043.png)}
  68.2540% {background-image: url(/image/final04/final0044.png)}
  69.8413% {background-image: url(/image/final04/final0045.png)}
  71.4286% {background-image: url(/image/final04/final0046.png)}
  73.0159% {background-image: url(/image/final04/final0047.png)}
  74.6032% {background-image: url(/image/final04/final0048.png)}
  76.1905% {background-image: url(/image/final04/final0049.png)}
  77.7778% {background-image: url(/image/final04/final0050.png)}
  79.3651% {background-image: url(/image/final04/final0051.png)}
  80.9524% {background-image: url(/image/final04/final0052.png)}
  82.5397% {background-image: url(/image/final04/final0053.png)}
  84.1270% {background-image: url(/image/final04/final0054.png)}
  85.7143% {background-image: url(/image/final04/final0055.png)}
  87.3016% {background-image: url(/image/final04/final0056.png)}
  88.8889% {background-image: url(/image/final04/final0057.png)}
  90.4762% {background-image: url(/image/final04/final0058.png)}
  92.0635% {background-image: url(/image/final04/final0059.png)}
  93.6508% {background-image: url(/image/final04/final0060.png)}
  95.2381% {background-image: url(/image/final04/final0061.png)}
  96.8254% {background-image: url(/image/final04/final0062.png)}
  98.4127% {background-image: url(/image/final04/final0063.png)}
  100.0000% {background-image: url(/image/final04/final0064.png)}

}
.gifp4 {
  animation: p4 2s step-end infinite;
  -moz-animation: p4 2s step-end infinite;
  -webkit-animation: p4 2s step-end infinite;
  -o-animation: p4 2s step-end infinite;
  height: 431px;
  width: 449px;
  margin-top: 500px;
}
