@keyframes p2
{
  0.0000% {background-image: url(/image/final0722/final02/export020001.jpg)}
  1.5873% {background-image: url(/image/final0722/final02/export020002.jpg)}
  3.1746% {background-image: url(/image/final0722/final02/export020003.jpg)}
  4.7619% {background-image: url(/image/final0722/final02/export020004.jpg)}
  6.3492% {background-image: url(/image/final0722/final02/export020005.jpg)}
  7.9365% {background-image: url(/image/final0722/final02/export020006.jpg)}
  9.5238% {background-image: url(/image/final0722/final02/export020007.jpg)}
  11.1111% {background-image: url(/image/final0722/final02/export020008.jpg)}
  12.6984% {background-image: url(/image/final0722/final02/export020009.jpg)}
  14.2857% {background-image: url(/image/final0722/final02/export020010.jpg)}
  15.8730% {background-image: url(/image/final0722/final02/export020011.jpg)}
  17.4603% {background-image: url(/image/final0722/final02/export020012.jpg)}
  19.0476% {background-image: url(/image/final0722/final02/export020013.jpg)}
  20.6349% {background-image: url(/image/final0722/final02/export020014.jpg)}
  22.2222% {background-image: url(/image/final0722/final02/export020015.jpg)}
  23.8095% {background-image: url(/image/final0722/final02/export020016.jpg)}
  25.3968% {background-image: url(/image/final0722/final02/export020017.jpg)}
  26.9841% {background-image: url(/image/final0722/final02/export020018.jpg)}
  28.5714% {background-image: url(/image/final0722/final02/export020019.jpg)}
  30.1587% {background-image: url(/image/final0722/final02/export020020.jpg)}
  31.7460% {background-image: url(/image/final0722/final02/export020021.jpg)}
  33.3333% {background-image: url(/image/final0722/final02/export020022.jpg)}
  34.9206% {background-image: url(/image/final0722/final02/export020023.jpg)}
  36.5079% {background-image: url(/image/final0722/final02/export020024.jpg)}
  38.0952% {background-image: url(/image/final0722/final02/export020025.jpg)}
  39.6825% {background-image: url(/image/final0722/final02/export020026.jpg)}
  41.2698% {background-image: url(/image/final0722/final02/export020027.jpg)}
  42.8571% {background-image: url(/image/final0722/final02/export020028.jpg)}
  44.4444% {background-image: url(/image/final0722/final02/export020029.jpg)}
  46.0317% {background-image: url(/image/final0722/final02/export020030.jpg)}
  47.6190% {background-image: url(/image/final0722/final02/export020031.jpg)}
  49.2063% {background-image: url(/image/final0722/final02/export020032.jpg)}
  50.7937% {background-image: url(/image/final0722/final02/export020033.jpg)}
  52.3810% {background-image: url(/image/final0722/final02/export020034.jpg)}
  53.9683% {background-image: url(/image/final0722/final02/export020035.jpg)}
  55.5556% {background-image: url(/image/final0722/final02/export020036.jpg)}
  57.1429% {background-image: url(/image/final0722/final02/export020037.jpg)}
  58.7302% {background-image: url(/image/final0722/final02/export020038.jpg)}
  60.3175% {background-image: url(/image/final0722/final02/export020039.jpg)}
  61.9048% {background-image: url(/image/final0722/final02/export020040.jpg)}
  63.4921% {background-image: url(/image/final0722/final02/export020041.jpg)}
  65.0794% {background-image: url(/image/final0722/final02/export020042.jpg)}
  66.6667% {background-image: url(/image/final0722/final02/export020043.jpg)}
  68.2540% {background-image: url(/image/final0722/final02/export020044.jpg)}
  69.8413% {background-image: url(/image/final0722/final02/export020045.jpg)}
  71.4286% {background-image: url(/image/final0722/final02/export020046.jpg)}
  73.0159% {background-image: url(/image/final0722/final02/export020047.jpg)}
  74.6032% {background-image: url(/image/final0722/final02/export020048.jpg)}
  76.1905% {background-image: url(/image/final0722/final02/export020049.jpg)}
  77.7778% {background-image: url(/image/final0722/final02/export020050.jpg)}
  79.3651% {background-image: url(/image/final0722/final02/export020051.jpg)}
  80.9524% {background-image: url(/image/final0722/final02/export020052.jpg)}
  82.5397% {background-image: url(/image/final0722/final02/export020053.jpg)}
  84.1270% {background-image: url(/image/final0722/final02/export020054.jpg)}
  85.7143% {background-image: url(/image/final0722/final02/export020055.jpg)}
  87.3016% {background-image: url(/image/final0722/final02/export020056.jpg)}
  88.8889% {background-image: url(/image/final0722/final02/export020057.jpg)}
  90.4762% {background-image: url(/image/final0722/final02/export020058.jpg)}
  92.0635% {background-image: url(/image/final0722/final02/export020059.jpg)}
  93.6508% {background-image: url(/image/final0722/final02/export020060.jpg)}
  95.2381% {background-image: url(/image/final0722/final02/export020061.jpg)}
  96.8254% {background-image: url(/image/final0722/final02/export020062.jpg)}
  98.4127% {background-image: url(/image/final0722/final02/export020063.jpg)}
  100.0000% {background-image: url(/image/final0722/final02/export020064.jpg)}
}

@-moz-keyframes p2
{
  0.0000% {background-image: url(/image/final0722/final02/export020001.jpg)}
  1.5873% {background-image: url(/image/final0722/final02/export020002.jpg)}
  3.1746% {background-image: url(/image/final0722/final02/export020003.jpg)}
  4.7619% {background-image: url(/image/final0722/final02/export020004.jpg)}
  6.3492% {background-image: url(/image/final0722/final02/export020005.jpg)}
  7.9365% {background-image: url(/image/final0722/final02/export020006.jpg)}
  9.5238% {background-image: url(/image/final0722/final02/export020007.jpg)}
  11.1111% {background-image: url(/image/final0722/final02/export020008.jpg)}
  12.6984% {background-image: url(/image/final0722/final02/export020009.jpg)}
  14.2857% {background-image: url(/image/final0722/final02/export020010.jpg)}
  15.8730% {background-image: url(/image/final0722/final02/export020011.jpg)}
  17.4603% {background-image: url(/image/final0722/final02/export020012.jpg)}
  19.0476% {background-image: url(/image/final0722/final02/export020013.jpg)}
  20.6349% {background-image: url(/image/final0722/final02/export020014.jpg)}
  22.2222% {background-image: url(/image/final0722/final02/export020015.jpg)}
  23.8095% {background-image: url(/image/final0722/final02/export020016.jpg)}
  25.3968% {background-image: url(/image/final0722/final02/export020017.jpg)}
  26.9841% {background-image: url(/image/final0722/final02/export020018.jpg)}
  28.5714% {background-image: url(/image/final0722/final02/export020019.jpg)}
  30.1587% {background-image: url(/image/final0722/final02/export020020.jpg)}
  31.7460% {background-image: url(/image/final0722/final02/export020021.jpg)}
  33.3333% {background-image: url(/image/final0722/final02/export020022.jpg)}
  34.9206% {background-image: url(/image/final0722/final02/export020023.jpg)}
  36.5079% {background-image: url(/image/final0722/final02/export020024.jpg)}
  38.0952% {background-image: url(/image/final0722/final02/export020025.jpg)}
  39.6825% {background-image: url(/image/final0722/final02/export020026.jpg)}
  41.2698% {background-image: url(/image/final0722/final02/export020027.jpg)}
  42.8571% {background-image: url(/image/final0722/final02/export020028.jpg)}
  44.4444% {background-image: url(/image/final0722/final02/export020029.jpg)}
  46.0317% {background-image: url(/image/final0722/final02/export020030.jpg)}
  47.6190% {background-image: url(/image/final0722/final02/export020031.jpg)}
  49.2063% {background-image: url(/image/final0722/final02/export020032.jpg)}
  50.7937% {background-image: url(/image/final0722/final02/export020033.jpg)}
  52.3810% {background-image: url(/image/final0722/final02/export020034.jpg)}
  53.9683% {background-image: url(/image/final0722/final02/export020035.jpg)}
  55.5556% {background-image: url(/image/final0722/final02/export020036.jpg)}
  57.1429% {background-image: url(/image/final0722/final02/export020037.jpg)}
  58.7302% {background-image: url(/image/final0722/final02/export020038.jpg)}
  60.3175% {background-image: url(/image/final0722/final02/export020039.jpg)}
  61.9048% {background-image: url(/image/final0722/final02/export020040.jpg)}
  63.4921% {background-image: url(/image/final0722/final02/export020041.jpg)}
  65.0794% {background-image: url(/image/final0722/final02/export020042.jpg)}
  66.6667% {background-image: url(/image/final0722/final02/export020043.jpg)}
  68.2540% {background-image: url(/image/final0722/final02/export020044.jpg)}
  69.8413% {background-image: url(/image/final0722/final02/export020045.jpg)}
  71.4286% {background-image: url(/image/final0722/final02/export020046.jpg)}
  73.0159% {background-image: url(/image/final0722/final02/export020047.jpg)}
  74.6032% {background-image: url(/image/final0722/final02/export020048.jpg)}
  76.1905% {background-image: url(/image/final0722/final02/export020049.jpg)}
  77.7778% {background-image: url(/image/final0722/final02/export020050.jpg)}
  79.3651% {background-image: url(/image/final0722/final02/export020051.jpg)}
  80.9524% {background-image: url(/image/final0722/final02/export020052.jpg)}
  82.5397% {background-image: url(/image/final0722/final02/export020053.jpg)}
  84.1270% {background-image: url(/image/final0722/final02/export020054.jpg)}
  85.7143% {background-image: url(/image/final0722/final02/export020055.jpg)}
  87.3016% {background-image: url(/image/final0722/final02/export020056.jpg)}
  88.8889% {background-image: url(/image/final0722/final02/export020057.jpg)}
  90.4762% {background-image: url(/image/final0722/final02/export020058.jpg)}
  92.0635% {background-image: url(/image/final0722/final02/export020059.jpg)}
  93.6508% {background-image: url(/image/final0722/final02/export020060.jpg)}
  95.2381% {background-image: url(/image/final0722/final02/export020061.jpg)}
  96.8254% {background-image: url(/image/final0722/final02/export020062.jpg)}
  98.4127% {background-image: url(/image/final0722/final02/export020063.jpg)}
  100.0000% {background-image: url(/image/final0722/final02/export020064.jpg)}
}

@-webkit-keyframes p2
{
  0.0000% {background-image: url(/image/final0722/final02/export020001.jpg)}
  1.5873% {background-image: url(/image/final0722/final02/export020002.jpg)}
  3.1746% {background-image: url(/image/final0722/final02/export020003.jpg)}
  4.7619% {background-image: url(/image/final0722/final02/export020004.jpg)}
  6.3492% {background-image: url(/image/final0722/final02/export020005.jpg)}
  7.9365% {background-image: url(/image/final0722/final02/export020006.jpg)}
  9.5238% {background-image: url(/image/final0722/final02/export020007.jpg)}
  11.1111% {background-image: url(/image/final0722/final02/export020008.jpg)}
  12.6984% {background-image: url(/image/final0722/final02/export020009.jpg)}
  14.2857% {background-image: url(/image/final0722/final02/export020010.jpg)}
  15.8730% {background-image: url(/image/final0722/final02/export020011.jpg)}
  17.4603% {background-image: url(/image/final0722/final02/export020012.jpg)}
  19.0476% {background-image: url(/image/final0722/final02/export020013.jpg)}
  20.6349% {background-image: url(/image/final0722/final02/export020014.jpg)}
  22.2222% {background-image: url(/image/final0722/final02/export020015.jpg)}
  23.8095% {background-image: url(/image/final0722/final02/export020016.jpg)}
  25.3968% {background-image: url(/image/final0722/final02/export020017.jpg)}
  26.9841% {background-image: url(/image/final0722/final02/export020018.jpg)}
  28.5714% {background-image: url(/image/final0722/final02/export020019.jpg)}
  30.1587% {background-image: url(/image/final0722/final02/export020020.jpg)}
  31.7460% {background-image: url(/image/final0722/final02/export020021.jpg)}
  33.3333% {background-image: url(/image/final0722/final02/export020022.jpg)}
  34.9206% {background-image: url(/image/final0722/final02/export020023.jpg)}
  36.5079% {background-image: url(/image/final0722/final02/export020024.jpg)}
  38.0952% {background-image: url(/image/final0722/final02/export020025.jpg)}
  39.6825% {background-image: url(/image/final0722/final02/export020026.jpg)}
  41.2698% {background-image: url(/image/final0722/final02/export020027.jpg)}
  42.8571% {background-image: url(/image/final0722/final02/export020028.jpg)}
  44.4444% {background-image: url(/image/final0722/final02/export020029.jpg)}
  46.0317% {background-image: url(/image/final0722/final02/export020030.jpg)}
  47.6190% {background-image: url(/image/final0722/final02/export020031.jpg)}
  49.2063% {background-image: url(/image/final0722/final02/export020032.jpg)}
  50.7937% {background-image: url(/image/final0722/final02/export020033.jpg)}
  52.3810% {background-image: url(/image/final0722/final02/export020034.jpg)}
  53.9683% {background-image: url(/image/final0722/final02/export020035.jpg)}
  55.5556% {background-image: url(/image/final0722/final02/export020036.jpg)}
  57.1429% {background-image: url(/image/final0722/final02/export020037.jpg)}
  58.7302% {background-image: url(/image/final0722/final02/export020038.jpg)}
  60.3175% {background-image: url(/image/final0722/final02/export020039.jpg)}
  61.9048% {background-image: url(/image/final0722/final02/export020040.jpg)}
  63.4921% {background-image: url(/image/final0722/final02/export020041.jpg)}
  65.0794% {background-image: url(/image/final0722/final02/export020042.jpg)}
  66.6667% {background-image: url(/image/final0722/final02/export020043.jpg)}
  68.2540% {background-image: url(/image/final0722/final02/export020044.jpg)}
  69.8413% {background-image: url(/image/final0722/final02/export020045.jpg)}
  71.4286% {background-image: url(/image/final0722/final02/export020046.jpg)}
  73.0159% {background-image: url(/image/final0722/final02/export020047.jpg)}
  74.6032% {background-image: url(/image/final0722/final02/export020048.jpg)}
  76.1905% {background-image: url(/image/final0722/final02/export020049.jpg)}
  77.7778% {background-image: url(/image/final0722/final02/export020050.jpg)}
  79.3651% {background-image: url(/image/final0722/final02/export020051.jpg)}
  80.9524% {background-image: url(/image/final0722/final02/export020052.jpg)}
  82.5397% {background-image: url(/image/final0722/final02/export020053.jpg)}
  84.1270% {background-image: url(/image/final0722/final02/export020054.jpg)}
  85.7143% {background-image: url(/image/final0722/final02/export020055.jpg)}
  87.3016% {background-image: url(/image/final0722/final02/export020056.jpg)}
  88.8889% {background-image: url(/image/final0722/final02/export020057.jpg)}
  90.4762% {background-image: url(/image/final0722/final02/export020058.jpg)}
  92.0635% {background-image: url(/image/final0722/final02/export020059.jpg)}
  93.6508% {background-image: url(/image/final0722/final02/export020060.jpg)}
  95.2381% {background-image: url(/image/final0722/final02/export020061.jpg)}
  96.8254% {background-image: url(/image/final0722/final02/export020062.jpg)}
  98.4127% {background-image: url(/image/final0722/final02/export020063.jpg)}
  100.0000% {background-image: url(/image/final0722/final02/export020064.jpg)}
}

.gifp2 {
  animation: p2 2s step-end infinite;
  -moz-animation: p2 2s step-end infinite;
  -webkit-animation: p2 2s step-end infinite;
  -o-animation: p2 2s step-end infinite;
  background-size: 100% 100%;
  height: 720px;
  width: 810px;
  margin-top: 96px;
}
