.gif {
  width: 63%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.Section{
	overflow-x: hidden !important;
}
video{
	-webkit-transform-style: preserve-3d !important;
}
.SectionsContainer{
	-webkit-overflow-scrolling: touch;
}